.tile.disclaimer {
    cursor: default;
}

footer {
    padding: 30px;

    p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;

        &.copyright {
            font-weight: bold;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}