.tile {
    border: 0;
    outline: none;
    display: flex;
    background-color: #eee;
    border-radius: var(--content-tile-radius);
    color: #000;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    &.dialog {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        cursor: default;

        h3 {
            font-size: 16px;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            line-height: 20px;
        }

        &.notice {
            background-color: #e9d502;

            .icon {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                font-size: 40px;
            }
            .message {
                padding: 20px 20px 20px 0;
                flex: 3;
            }
        }

    }

    &.module {
        position: relative;
        background-color: #333;
        color: #fff;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        background-image: url('../assets/pr-lightning.png');
        background-position: 100% 75%;
        background-repeat: no-repeat;

        &.panels {
            background-color: var(--color-module-panels);
            .action {
                color: var(--color-module-panels);
            }
        }

        &.photo-ops {
            background-color: var(--color-module-photo-ops);
            .action {
                color: var(--color-module-photo-ops);
            }
        }

        // &.guests {
        //     background-color: var(--color-module-guests);
        //     .action {
        //         color: var(--color-module-guests);
        //     }
        // }

        // &.exhibitors {
        //     background-color: var(--color-module-exhibitors);
        //     .action {
        //         color: var(--color-module-exhibitors);
        //     }
        // }

        // &.badges {
        //     background-color: var(--color-module-badges);
        //     .action {
        //         color: var(--color-module-badges);
        //     }
        // }

        h3 {
            font-size: 30px;
            margin-bottom: 15px;
        }

        p {
            font-size: 12px;
            text-transform: uppercase;
            color: #eee;
            font-weight: bold;
            letter-spacing: 1px;
            opacity: 0.8;
        }

        .action {
            display: inline-block;
            margin-top: 30px;
            background-color: #fff;
            padding: 10px 25px;
            font-size: 14px;
            border-radius: 20px;
            font-weight: bold;
            color: #333;

            &.disabled {
                opacity: 0.5;
            }
        }

        .content {
            padding: 40px 0 40px 40px;
            width: 65%;
        }

        .icon {
            font-size: 10em;
            color: #fff;
            opacity: 0.8;
            // position: absolute;
            // bottom: -10%;
            // right: 10%;
        }
    }

    
}